<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Vehicle Verifier</title>
<link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link 
    rel="stylesheet"
    href="templates/style.css" />
</head>
<body>
    <div class="container">
        <!-- Jumbotron Section -->
        <div class="jumbotron text-center" >
            <video playsinline autoplay muted loop poster="../images/vintage_car.png" id="bgvid">
                <source src="../images/vintage_car.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <h1>Vehicle Verifier</h1>
        </div>
        <!-- End of Jumbotron Section-->
    </div>
</body>
</html>
